---
// ----------- icons ----------- //
import GmailIcon from '@icons/GmailIcon.astro'
import LinkedInIcon from '@icons/LinkedInIcon.astro'
import GitHubIcon from '@icons/GitHubIcon.astro'
import ArrowIcon from '@icons/ArrowIcon.astro'

// ----------- components ----------- //
import Pill from '@components/Pill.astro'
import Link from '@components/Link.astro'
import { Image } from 'astro:assets'

// ----------- types & constants ----------- //
import { PERSONAL_INFO } from '@/utils/constants'

const { name, title, description, profileImage, contacts } = PERSONAL_INFO
---

<article class="flex flex-col items-center lg:flex-row gap-6 lg:gap-4 justify-between w-full">
  <section
    class="flex flex-col items-center justify-center w-full min-h-48 h-auto m-0 gap-4 text-center lg:flex-row md:justify-normal lg:text-left md:w-5/6 rounded-lg"
  >
    <div class="min-w-48 min-h-48 flex overflow-hidden rounded-lg">
      <Image
        transition:name="hero"
        class="rounded-lgobject-center object-cover w-60 sm:w-48"
        src={profileImage}
        alt="Foto de Carlos Eduardo Hernández Munévar"
        height={300}
        width={300}
        loading="eager"
      />
    </div>
    <div class="flex flex-col h-full w-full gap-6 p-4">
      <h1 class="text-3xl font-bold">
        ¡Hola, soy <span class="text-pretty">{name}</span>!<br />
        <span class="text-lg font-medium">{title}</span>
      </h1>
      <div class="flex flex-col gap-4 items-center lg:items-start">
        <p class="text-lg text-pretty">
          {description}
        </p>
        <Link href="/about" text="Más sobre mi">
          <ArrowIcon />
        </Link>
      </div>
    </div>
  </section>
  <ul class="flex flex-row lg:flex-col items-center justify-center gap-6 flex-wrap mx-4 md:mx-0">
    <li>
      <Pill text={contacts.email} href={`mailto:${contacts.email}`} hasCopy>
        <GmailIcon />
      </Pill>
    </li>
    <li>
      <Pill text="LinkedIn" href={contacts.linkedin}>
        <LinkedInIcon />
      </Pill>
    </li>
    <li>
      <Pill text="GitHub" href={contacts.github}>
        <GitHubIcon />
      </Pill>
    </li>
  </ul>
</article>
