---
// ----------- components ----------- //

import DevIcon from '@icons/DevIcon.astro';
import { Image } from 'astro:assets';

import { TAGS_DICTIONARY } from '@utils/constants.js';

// ----------- types ----------- //
interface Tags {
  name: string;
  class: string;
  icon?: any;
}

interface Proyect {
  title: string;
  description: string;
  image: string;
  tags: Tags[];
}

// ----------- content ----------- //
const PROYECTS: Proyect[] = [
  {
    title: 'Proyecto 1',
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id eos beatae rerum, doloribus voluptatum aliquam ea excepturi est laudantium! Animi eligendi molestias ex enim repellat, quidem ipsam ea deleniti',
    image: 'https://i.postimg.cc/ZRRgvpJN/dibujo-avatar-1.webp',
    tags: [
      TAGS_DICTIONARY.HTML,
      TAGS_DICTIONARY.CSS,
      TAGS_DICTIONARY.JAVASCRIPT,
    ],
  },
];
---

<article class="flex flex-col gap-12">
  <h2 class="flex gap-2 text-2xl ml-8 font-bold leading-10">
    <DevIcon class="size-10" />Proyectos
  </h2>

  <ul class="flex flex-col gap-4">
    {
      PROYECTS.map(({ title, description, image, tags }) => (
        <li>
          <a
            href={`/${title}`}
            class="flex flex-col sm:flex-row border border-main/15 p-4 rounded-lg gap-4"
          >
            <div class="w-full sm:w-fit rounded-lg overflow-hidden flex justify-center items-center">
              <Image
                src={image}
                alt={`Miniatura de la aplicación ${title}`}
                class="md:min-w-60 rounded-lg aspect-[4/3] sm:aspect-square object-cover object-center hover:scale-105 transition-transform duration-300 mx-auto w-full"
                width={240}
                height={240}
              />
            </div>
            <div class="flex flex-col gap-12 sm:gap-0 w-full sm:w-1/2 md:w-3/4">
              <div class="flex flex-col gap-4">
                <h3 class="text-2xl font-bold text-accent text-center sm:text-start text-balance">
                  {title}
                </h3>
                <p class="text-pretty">{description}</p>
              </div>
              <div class="flex flex-row justify-center sm:justify-normal gap-2 h-full items-center flex-wrap">
                {tags.map((tag) => (
                  <span
                    class={`flex gap-1 text-center align-middle leading-7 justify-center items-center rounded-full max-h-7 px-2 py-1 text-main text-sm transition-colors duration-300 ${tag.class}`}
                  >
                    {tag.icon && <tag.icon class="size-5 rounded-md" />}
                    {tag.name}
                  </span>
                ))}
              </div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</article>
