---
// ----------- components ----------- //
import ProjectItem from '@/components/ProjectItem.astro'
import DevIcon from '@icons/DevIcon.astro'

// ----------- types & constants ----------- //
import type { Project } from '@/types/types'

interface Props {
  title?: string
  projects: Project[]
}

const { projects, title } = Astro.props
---

<article class="flex flex-col gap-12">
  <h2 class="flex gap-2 text-2xl ml-8 font-bold leading-10">
    <DevIcon class="size-10" />{title || 'Proyectos'}
  </h2>

  <ul class="flex flex-col gap-4">
    {
      projects.map(({ title, description, thumbnailUrl, tags, codeUrl, demoUrl }) => (
        <ProjectItem
          title={title}
          description={description}
          thumbnailUrl={thumbnailUrl}
          tags={tags}
          codeUrl={codeUrl}
          demoUrl={demoUrl}
        />
      ))
    }
  </ul>
</article>
